body {
  background-color: #000;
  margin: 0;
  color: #f2f0f0;
  font-family: 'Hind Madurai', sans-serif;
}

p {
  margin: 0;
}

h1 {
  font-size: 20px;
  padding-left: 1px;
  margin: 0;
  color: #A3A3A3;
}

label {
  color: #cccccc;
  display: inline-block;
  padding: 6px 3px 6px 6px;
  text-align: left;
}

input {
  outline: none;
}

/* App Component Styles -- can be considered base styles */
#appComponent {
  border: 5px solid #0F0F0F;
  background: #070707;
}

#NavigationBar {
  display: flex;
  flex-direction: row;
  padding: 3px 6px 3px 6px;
}

.logo-img {
  width: 24px;
  height: 21px;
  padding-top: 3px;
}

#UserList {
  border: 1px solid #262626;
  background: #161616;
  width: 20%;
  height: 490px;
  margin:3px;
}

#ChatPane {
  border: 1px solid #262626;
  background: #161616;
  width: 80%;
  height: 490px;
  margin:3px;
}

#MessageForm {
  width: 100%;
}

#InputBar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border: 1px solid #262626;
  background: #161616;
  margin:3px;
  height: 33px;
}

#InputBar input{
  background: #161616;
  color: #898989;
  font-size: 14px;
  padding: 6px 3px 6px 6px;
  border:none;
  box-sizing: border-box;
  width:90%
}

.chatContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#InputButton {
  background: url('../../assets/submit-btn.png');
  background-repeat: no-repeat;
  width: 11px;
  height: 17px;
  float: right;
  padding: 4px 4px;
  margin: 10px 3px 0px 3px;
  display: inline-block;
}

#InputButton:hover {
  cursor: pointer;
}
