body {
  background-color: #000;
  color: #f2f0f0;
  font-family: 'Hind Madurai', sans-serif;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

label {
  color: #cccccc;
  display: inline-block;
  padding: 6px 3px 6px 6px;
  text-align: left;
}

.input-inner-label {
  padding: 7px 0px 0px 12px !important;
  text-align: left !important;
}

input {
  outline: none;
  margin: 0;
}

button {
  border: none;
}

.form-group {
  margin: 0;
}

/* App Component Styles -- can be considered base styles */
.chatWindow {
  position: relative;
  top: 50px;
  border: 1px solid #0F0F0F;
  background: #070707;
  padding: 12px;
}

#NavigationBar {
  display: flex;
  flex-direction: row;
  padding-left: 18px;
  margin-bottom: 12px;
}

.logo-img {
  width: 24px;
  height: 21px;
  padding-top: 3px;
}

.navbar-h1 {
  font-size: 20px;
  padding: 2px 0px 0px 4px;
  margin: 0;
  color: #A3A3A3;
}
.inline-form-group {
  margin: 0 !important;
}
#UserList {
  border: 1px solid #262626;
  background: #161616;
  width: 20%;
  height: 490px;
  margin:3px;
}

#ChatPane {
  border: 1px solid #202020;
  background: #161616;
  min-width: 300px;
  max-width: 100%;
  min-height: 400px;
  max-height: 1vh;
  overflow-y: scroll;
  margin:3px;
  padding: 12px;
}

#InputBar {
  border: 1px solid #202020;
  background: #161616;
  margin:3px;
}

#InputBar .inputBarText{
  background: #161616;
  color: #898989;
  font-size: 14px;
  border:none;
  margin-top: 1px;
  outline: none;
  padding-left: 0px;
}

#InputBar .inputBarText:focus {
  outline: none;
  box-shadow: none;
}
.inputBarTextContainer {
  padding-left: 6px;
}
#InputButton {
  background: url('../../assets/submit-btn.png');
  background-repeat: no-repeat;
  width: 11px;
  height: 17px;
  float: right;
  padding: 4px 12px;
  margin: 10px 3px 0px 3px;
  display: inline-block;
}

#InputButton:hover {
  cursor: pointer;
}

.chat-message-user-name {
  font-size: 18px;
  color: #3A72B5;
  padding-right: 6px;
  float: left;
}

.chat-message-text {
  font-size: 14px;
  color: #6D6D6D;
  padding-top: 4px;
  display: flex;
}

.typing-span-alert {
  font-size: 12px;
  color: #3D3D3D;
}
