
body {
  background-color: #1b1b1b;
  margin: 0;
  color: #f2f0f0;
  font-family: 'Hind Madurai', sans-serif;
}

p {
  margin: 0;
}

label {
  color: #333333;
  display: inline-block;
  width: 8%;
  padding:3px 0px 3px 3px;
  text-align: left;
}

input {
  outline: none;
}

/* App Component Styles -- can be considered base styles */
#appComponent {
  border: 5px solid #0F0F0F;
  background: #070707;

}

#UserList {
  border: 1px solid #262626;
  background: #161616;
  width: 20%;
  height: 490px;
  margin:3px;
}

#ChatPane {
  border: 1px solid #262626;
  background: #161616;
  width: 80%;
  height: 490px;
  margin:3px;
}

#MessageForm {
  width: 100%;
}

#InputBar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border: 1px solid #262626;
  background: #161616;
  margin:3px;
  height: 33px;
}

#InputBar input{
  background: #161616;
  color: #898989;
  font-size: 14px;
  padding: 8px 3px 8px 0px;
  border:none;
  box-sizing: border-box;
  width:90%
}

.chatContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
